<p>
  repayment-dashboard works!
</p>
<hr>

<div class="row">
  <div fxLayout = "column">
    <div>
      <dt>Due Amount: <span id="due-amount">10</span> USD</dt>
      <progress value="10" max="100"></progress>
      <div fxLayoutAlign="space-between">
        <dd>Due Date: <span id="due-date">2020.02.02</span></dd>
        <dd>Limitation: <span id = "limitation">100</span> USD</dd>
      </div>          
    </div>
    <div>
      <button width="100">Repay</button>
      <button width="300">Request</button>
      <p class="loan-type">Revolver</p>
    </div>
  </div>
</div>

<form action="form-inline" style="width: 500;">
  <div >
    <div>
      <dt>Due Amount: <span id="due-amount">10</span> USD</dt>
      <progress value="10" max="1000" style="width:500px;"></progress>
    </div>
    <div style="width: 500;">
      <dd align="left" style="float: right;">Due Date: <span id="due-date">2020.02.02</span></dd>
      <dd align="right" style="margin-left: auto;">Limitation: <span id = "limitation">100</span> USD</dd>
    </div>
  </div>
</form>

<button class="btn btn-light" (click)="back()">Back</button>
<button (click)="testTransaction()"> transfer money</button>


