<!-- <form action="form-inline" style="width: 500;">
  <div >
    <div>
      <dt>Due Amount: <span id="due-amount">10</span> USD</dt>
      <progress value="10" max="1000" style="width:500px;"></progress>
    </div>
    <div style="width: 500;">
      <dd align="left" style="float: right;">Due Date: <span id="due-date">2020.02.02</span></dd>
      <dd align="right" style="margin-left: auto;">Limitation: <span id = "limitation">100</span> USD</dd>
    </div>
  </div>
</form> -->
<div class="panel-group" id="accordion">
  <div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
      <label for="">Pay to:</label>
        <select class="form-control" [(ngModel)]="repayLender">
          <ng-container *ngIf="repayLenderList">
            <option *ngFor="let repayLender of repayLenderList" [value]="repayLender.lender.address">{{repayLender.lender.name}}</option>
          </ng-container>
        </select>
        <label for="">Amount</label>
        <input type="number" class="form-control" id="singleRepayAmount" [(ngModel)]="singleRepayAmount" (change)="calculateTotalAmount()"/>
        <label for="">Total Amount: {{totalRepayAmount}} USDCoin</label>
        <button (click)="repay()">Confirm</button>
    </div>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse in">
    <div class="panel-body">
      <label for="">Amount</label>
      <input type="number" class="form-control" id="requestAmount" [(ngModel)]="requestAmount"/>
      <button (click)="request()">Request</button>
    </div>
  </div>
</div>

<div ng-controllar="emp">
  <table class="table table-stripped">
    <thead>
      <th>ID</th>
      <th>Contract Name</th>
      <th>Due Amount</th>
      <th>Limitation</th>
      <th>Due Date</th>
      <th>Rate</th>
      <th>All Lenders</th>
      <th>Type</th>
      <th>Operation</th>
    </thead>
    <tbody>
      <ng-container *ngFor="let repaymentRecord of repaymentList; let i=index">
        <tr id={{repaymentRecord.agreementAddress}}>
          <td>{{i}}</td>
          <td>{{repaymentRecord.contractName}}</td>
          <td>{{repaymentRecord.dueAmount}}</td>
          <td>{{repaymentRecord.limitation}}</td>
          <td>{{repaymentRecord.dueDate}}</td>
          <td>{{repaymentRecord.rate}}</td>
          <td><li *ngFor="let lenderDetail of repaymentRecord.allLenders" title={{lenderDetail.lender.address}}>{{lenderDetail.lender.name}}</li></td>
          <td>{{repaymentRecord.type}}</td>
          <!-- <td>name</td>
          <td>dueamount</td>
          <td>limitation</td>
          <td>duedate</td>
          <td>rate</td>
          <td>lenderDetail.lender.name</td>
          <td>application.type</td> -->
          <td>
            <button id=btnRepay{{i}} data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="parseAgreement($event)">Repay</button>
            <button id=btnRequest{{i}} data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" (click)="parseAgreement($event)">Request</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
