<table class="table table-stripped">
    <thead>
        <th>Name</th>
        <th>Applicant</th>
        <th>Total Amount Requested</th>
        <th>Type</th>
        <th>Term</th>
        <th>Rate of Interest</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let application of loanApplications">
            <ng-container *ngIf="!application.status && application.status != 'REJECTED'">
                <td>{{application.name}}</td>
                <td>{{application.borrower.name}}</td>
                <td>{{application.totalLoanAmount}}</td>
                <td>{{application.type}}</td>
                <td>{{application.term}}</td>
                <td>{{application.rateOfInterest}}</td>
                <td>
                    <button class="btn btn-sm btn-primary m-1" (click)="approveLoanApplication(application)">Approve</button>
                    <button class="btn btn-sm btn-danger m-1" (click)="rejectLoanApplication(application)">Reject</button>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>