<div class="container-fluid">
    <div>Welcome
        <b *ngIf="account">{{account.name}}</b>
        <br> You have <span id="balance">{{accountBalance}}</span> USD
        <button class="btn btn-sm btn-danger float-right" (click)="logout()">Logout</button>
    </div>
</div>
<hr>


<div class="container-fluid row">
  <div class="col-8">
    <table class="table table-stripped" style="table-layout: fixed;">
      <th colspan="4" class="text-center mark">
      APPLICATION INFORMATION
      </th>
      <tbody>
        <tr>
          <td><strong>Name:</strong></td>
          <td>{{application.name}}</td>
          <td><strong>Applicant:</strong></td>
          <td>{{application.borrower.name}}</td>
        </tr>
        <tr>
          <td><strong>Total Amount Requested:</strong></td>
          <td>{{application.totalLoanAmount}}</td>
          <td><strong>Type:</strong></td>
          <td>{{application.type}}</td>
        </tr>
        <tr>
          <td><strong>Term:</strong></td>
          <td>{{application.term}}</td>
          <td><strong>Rate of Interest:</strong></td>
          <td>{{application.rateOfInterest}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div  class="col-4">
    <table class="table table-stripped" style="table-layout: fixed;" >
        <th colspan="4" class="text-center mark">
        LEND DETAILS
        </th>
        <tbody *ngIf="application.lenderDetails.length!=0">
          <ng-container >
            <tr  *ngFor="let lenderDetail of application.lenderDetails">
              <td colspan="4">
              {{lenderDetail.ID | date:'yyyy-MM-dd HH:mm:ss'}} {{lenderDetail.lender.name}} lended {{lenderDetail.amount}}USDCoins. Status: {{lenderDetail.detailStatus}}.
              </td>
            </tr>
          </ng-container>
        </tbody>
    
        <tbody *ngIf="application.lenderDetails.length==0">
          <tr>
            No Details
          </tr>
        </tbody>
    </table>
  </div>
</div>
<hr>

<div class="form-group" *ngIf="application.coveredAmount!=application.totalLoanAmount">

  <label for="">Lend Amount</label>
  <input type="number" class="form-control" id="" [(ngModel)]="lendAmount" />
  <label for="">Fee</label>
  <input type="number" class="form-control" id="" [(ngModel)]="fee" />%%

  <button class="btn btn-primary" (click)="submit()">Submit</button>
  <button class="btn btn-success" (click)="lendAllLoanApplication(application)">Lend All Amount</button>
  
</div>

<div class="form-group">
  <button class="btn btn-light" *ngIf="canSign()" (click)="deploy()">deploy</button>
  <button class="btn btn-light" *ngIf="canSign()" (click)="sign()">Sign</button>
  <button class="btn btn-light"  (click)="signAsBorrower()">Sign as borrower</button>
  <button class="btn btn-light" (click)="back()">Back</button>
</div>