<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="true">Create</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view" aria-selected="false">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="repayment-tab" data-toggle="tab" href="#repayment" role="tab" aria-controls="repayment" aria-selected="false">Repayment</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="create" role="tabpanel" aria-labelledby="create-tab">
        <div class="form-group">

            <label for="">Name</label>
            <input type="text" class="form-control" id="" [(ngModel)]="name" />
            <label for="">Total Amount</label>
            <input type="number" class="form-control" id="" [(ngModel)]="totalLoanAmount" />

            <label for="">Type of loan</label>
            <select class="form-control" id="" [(ngModel)]="type">
              <option value="REVOLVER">Revolver</option>
              <option value="TERM_LOAN">Term Loan</option>
            </select>

            <label for="">Starting From (YYYY-MM-DD))</label>
            <input type="text" class="form-control" id="" [(ngModel)]="startingDate" />

            <label for="">Term (in years)</label>
            <input type="number" class="form-control" id="" [(ngModel)]="term" />

            <label for="">Rate of interest</label>
            <input type="number" class="form-control" id="" [(ngModel)]="rateOfInterest" />

            <button class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
    </div>
    <div class="tab-pane fade" id="view" role="tabpanel" aria-labelledby="view-tab">
        <table class="table table-stripped">
            <thead>
                <th>Name</th>
                <th>Applicant</th>
                 <th>Total Amount Requested</th>
                <th>Type</th>
                <th>Term</th>
                <th>Rate of Interest</th>
                <th>Lenders</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let application of loanApplications">
                    <ng-container *ngIf="application.status">
                        <td>{{application.name}}</td>
                        <td>{{application.borrower.name}}</td>
                        <td>{{application.totalLoanAmount}}</td>
                        <td>{{application.type}}</td>
                        <td>{{application.term}}</td>
                        <td>{{application.rateOfInterest}}</td>
                        <th scope="row">
                            <li *ngFor="let lenderDetail of application.lenderDetails">{{lenderDetail.ID | date:'yyyy-MM-dd HH:mm:ss'}}   {{lenderDetail.lender.name}}</li>
                        </th>
                        <td>
                        <button class="btn btn-light m-1" [routerLink]="['/view', application.id]">View Lend Details</button>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>
    </div>
    <div class="tab-pane fade" id="repayment" role="tabpanel" aria-labelledby="repayment-tab">
        <app-repayment-dashboard></app-repayment-dashboard>
    </div>
</div>