<div>
    <div>Welcome
        <b *ngIf="account">{{account.name}}</b>
        <br> You have <span id="balance">{{accountBalance}}</span> USD
        <button class="btn btn-sm btn-danger float-right" (click)="logout()">Logout</button>
    </div>
</div>
<hr>

<table class="table table-stripped">
    <thead>
        <th>Name</th>
        <th>Applicant</th>
        <th>Total Amount Requested</th>
        <th>Type</th>
        <th>Term</th>
        <th>Rate of Interest</th>
        <th>Lenders</th>
    </thead>
    <tbody>
        <td>{{application.name}}</td>
        <td>{{application.borrower.name}}</td>
        <td>{{application.totalLoanAmount}}</td>
        <td>{{application.type}}</td>
        <td>{{application.term}}</td>
        <td>{{application.rateOfInterest}}</td>
        <th >
          <li *ngFor="let lenderDetail of application.lenderDetails">{{lenderDetail.ID | date:'yyyy-MM-dd HH:mm:ss'}}   {{lenderDetail.lender.name}}</li>
        </th>
    </tbody>
</table>

<div class="form-group">

  <label for="">Lend Amount</label>
  <input type="number" class="form-control" id="" [(ngModel)]="lendAmount" />

  <button class="btn btn-primary" (click)="submit()">Submit</button>
  <button class="btn btn-light" (click)="back()">Back</button>
</div>